*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    font-family: "Roboto", serif;
}
.logo {
    font-size: 1.7rem;
    color: #F9FAF8;
}
.navbar {
    display: flex;
    gap: 30px;
}
.link {
    text-decoration: none;
    font-size: 1.1rem;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    width: 100%;
}
.container_nav,
.container_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
    padding: 20px 0;
    gap: 60px;
}
.hero_section {
    height: 70vh;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper_left-side,
.wrapper_right-side {
    width: 50%;
}
.wrapper_right-side {
    background-color: #b5bfca;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: #F9FAF8;
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}
.hero_paragraph {
    color: #F9FAF8;
    width: 80%;
    margin-bottom: 25px;
}
.main_button {
    padding: 10px 30px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 12px;
    border: none;
}
.image {
    color: #F9FAF8;
}
.information {
    height: 60vh;
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
h2 {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 2rem;
}
.wrapper_boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 90%;
}
.wrapper_boxes_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 10px;
}
.blue_boxes {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
}
.shortline {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    width: 20ch;
}
