*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    font-family: "Roboto", serif;
}
.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
.logo {
    font-size: 1.7rem;
    color: #F9FAF8;
}
.navbar {
    display: flex;
    gap: 25px;
}
a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}
.container_nav,
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    flex: 1;
    margin: 0;
    padding: 20px 0;
}
.hero_section {
    height: 70vh;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper_left-side,
.wrapper_right-side {
    width: 50%;
}
.wrapper_right-side {
    background-color: #b5bfca;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper_left-side {
    padding-right: 60px;
}
h1 {
    color: #F9FAF8;
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}
.hero_paragraph {
    color: #F9FAF8;
    width: 80%;
    margin-bottom: 25px;
}
.main_button {
    padding: 10px 30px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1rem;
    border-radius: 12px;
    border: none;
}
.image {
    color: #F9FAF8;
}